@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Cedula"></label>
                <input asp-for="Input.Cedula" class="form-control" />
                <span asp-validation-for="Input.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.IdCiudad" class="control-label"></label>
                <select asp-for="Input.IdCiudad" class="form-control">
                    <option value="" disabled="" selected="">Selecciona la Ciudad</option>
                    <option value="1">Abrego</option>
                    <option value="2">Abriaquí</option>
                    <option value="3">Acacias</option>
                    <option value="4">Acandí</option>
                    <option value="5">Acevedo</option>
                    <option value="6">Achí</option>
                    <option value="7">Agrado</option>
                    <option value="8">Agua De Dios</option>
                    <option value="9">Aguachica</option>
                    <option value="10">Aguada</option>
                    <option value="11">Aguadas</option>
                    <option value="12">Aguazul</option>
                    <option value="13">Agustín Codazzi</option>
                    <option value="14">Aipe</option>
                    <option value="15">Alban</option>
                    <option value="16">Albán</option>
                    <option value="17">Albania</option>
                    <option value="18">Albania</option>
                    <option value="19">Albania</option>
                    <option value="20">Alcala</option>
                    <option value="21">Aldana</option>
                    <option value="22">Alejandría</option>
                    <option value="23">Algarrobo</option>
                    <option value="24">Algeciras</option>
                    <option value="25">Almaguer</option>
                    <option value="26">Almeida</option>
                    <option value="27">Alpujarra</option>
                    <option value="28">Altamira</option>
                    <option value="29">Alto Baudó</option>
                    <option value="30">Altos Del Rosario</option>
                    <option value="31">Alvarado</option>
                    <option value="32">Amaga</option>
                    <option value="33">Amalfi</option>
                    <option value="34">Ambalema</option>
                    <option value="35">Anapoima</option>
                    <option value="36">Ancuya</option>
                    <option value="37">Andalucía</option>
                    <option value="38">Andes</option>
                    <option value="39">Angelopolis</option>
                    <option value="40">Angostura</option>
                    <option value="41">Anolaima</option>
                    <option value="42">Anorí</option>
                    <option value="43">Anserma</option>
                    <option value="44">Ansermanuevo</option>
                    <option value="45">Anza</option>
                    <option value="46">Anzoátegui</option>
                    <option value="47">Apartadó</option>
                    <option value="48">Apía</option>
                    <option value="49">Apulo</option>
                    <option value="50">Aquitania</option>
                    <option value="51">Aracataca</option>
                    <option value="52">Aranzazu</option>
                    <option value="53">Aratoca</option>
                    <option value="54">Arauca</option>
                    <option value="55">Arauquita</option>
                    <option value="56">Arbeláez</option>
                    <option value="57">Arboleda</option>
                    <option value="58">Arboledas</option>
                    <option value="59">Arboletes</option>
                    <option value="60">Arcabuco</option>
                    <option value="61">Arenal</option>
                    <option value="62">Argelia</option>
                    <option value="63">Argelia</option>
                    <option value="64">Argelia</option>
                    <option value="65">Ariguaní</option>
                    <option value="66">Arjona</option>
                    <option value="67">Armenia</option>
                    <option value="68">Armenia</option>
                    <option value="69">Armero</option>
                    <option value="70">Arroyohondo</option>
                    <option value="71">Astrea</option>
                    <option value="72">Ataco</option>
                    <option value="73">Atrato</option>
                    <option value="74">Ayapel</option>
                    <option value="75">Bagadó</option>
                    <option value="76">Bahía Solano</option>
                    <option value="77">Bajo Baudó</option>
                    <option value="78">Balboa</option>
                    <option value="79">Balboa</option>
                    <option value="80">Baranoa</option>
                    <option value="81">Baraya</option>
                    <option value="82">Barbacoas</option>
                    <option value="83">Barbosa</option>
                    <option value="84">Barbosa</option>
                    <option value="85">Barichara</option>
                    <option value="86">Barranca De Upia</option>
                    <option value="87">Barrancabermeja</option>
                    <option value="88">Barrancas</option>
                    <option value="89">Barranco De Loba</option>
                    <option value="90">Barranco Mina</option>
                    <option value="91">Barranquilla</option>
                    <option value="92">Becerril</option>
                    <option value="93">Belalcázar</option>
                    <option value="94">Belen</option>
                    <option value="95">Belén</option>
                    <option value="96">Belén De Bajira</option>
                    <option value="97">Belén De Los Andaquies</option>
                    <option value="98">Belén De Umbría</option>
                    <option value="99">Bello</option>
                    <option value="100">Belmira</option>
                    <option value="101">Beltrán</option>
                    <option value="102">Berbeo</option>
                    <option value="103">Betania</option>
                    <option value="104">Betéitiva</option>
                    <option value="105">Betulia</option>
                    <option value="106">Betulia</option>
                    <option value="107">Bituima</option>
                    <option value="108">Boavita</option>
                    <option value="109">Bochalema</option>
                    <option value="110">Bogota D.C.</option>
                    <option value="111">Bojacá</option>
                    <option value="112">Bojaya</option>
                    <option value="113">Bolívar</option>
                    <option value="114">Bolívar</option>
                    <option value="115">Bolívar</option>
                    <option value="116">Bosconia</option>
                    <option value="117">Boyacá</option>
                    <option value="118">Briceño</option>
                    <option value="119">Briceño</option>
                    <option value="120">Bucaramanga</option>
                    <option value="121">Bucarasica</option>
                    <option value="122">Buenaventura</option>
                    <option value="123">Buenavista</option>
                    <option value="124">Buenavista</option>
                    <option value="125">Buenavista</option>
                    <option value="126">Buenavista</option>
                    <option value="127">Buenos Aires</option>
                    <option value="128">Buesaco</option>
                    <option value="129">Buga</option>
                    <option value="130">Bugalagrande</option>
                    <option value="131">Buriticá</option>
                    <option value="132">Busbanzá</option>
                    <option value="133">Cabrera</option>
                    <option value="134">Cabrera</option>
                    <option value="135">Cabuyaro</option>
                    <option value="136">Cacahual</option>
                    <option value="137">Cáceres</option>
                    <option value="138">Cachipay</option>
                    <option value="139">Cachirá</option>
                    <option value="140">Cácota</option>
                    <option value="141">Caicedo</option>
                    <option value="142">Caicedonia</option>
                    <option value="143">Caimito</option>
                    <option value="144">Cajamarca</option>
                    <option value="145">Cajibío</option>
                    <option value="146">Cajicá</option>
                    <option value="147">Calamar</option>
                    <option value="148">Calamar</option>
                    <option value="149">Calarca</option>
                    <option value="150">Caldas</option>
                    <option value="151">Caldas</option>
                    <option value="152">Caldono</option>
                    <option value="153">Cali</option>
                    <option value="154">California</option>
                    <option value="155">Calima</option>
                    <option value="156">Caloto</option>
                    <option value="157">Campamento</option>
                    <option value="158">Campo De La Cruz</option>
                    <option value="159">Campoalegre</option>
                    <option value="160">Campohermoso</option>
                    <option value="161">Canalete</option>
                    <option value="162">Candelaria</option>
                    <option value="163">Candelaria</option>
                    <option value="164">Cantagallo</option>
                    <option value="165">Canton De San Pablo</option>
                    <option value="166">Cañasgordas</option>
                    <option value="167">Caparrapí</option>
                    <option value="168">Capitanejo</option>
                    <option value="169">Caqueza</option>
                    <option value="170">Caracolí</option>
                    <option value="171">Caramanta</option>
                    <option value="172">Carcasí</option>
                    <option value="173">Carepa</option>
                    <option value="174">Carmen De Apicalá</option>
                    <option value="175">Carmen De Bolívar</option>
                    <option value="176">Carmen De Carupa</option>
                    <option value="177">Carmen De Viboral</option>
                    <option value="178">Carmén Del Darién</option>
                    <option value="179">Carolina</option>
                    <option value="180">Cartagena</option>
                    <option value="181">Cartagena Del Chairá</option>
                    <option value="182">Cartago</option>
                    <option value="183">Caruru</option>
                    <option value="184">Casabianca</option>
                    <option value="185">Castilla La Nueva</option>
                    <option value="186">Caucasia</option>
                    <option value="187">Cepitá</option>
                    <option value="188">Cereté</option>
                    <option value="189">Cerinza</option>
                    <option value="190">Cerrito</option>
                    <option value="191">Cerro San Antonio</option>
                    <option value="192">Certegui</option>
                    <option value="193">Chachagui</option>
                    <option value="194">Chaguaní</option>
                    <option value="195">Chalán</option>
                    <option value="196">Chameza</option>
                    <option value="197">Chaparral</option>
                    <option value="198">Charalá</option>
                    <option value="199">Charta</option>
                    <option value="200">Chía</option>
                    <option value="201">Chibolo</option>
                    <option value="202">Chigorodó</option>
                    <option value="203">Chima</option>
                    <option value="204">Chimá</option>
                    <option value="205">Chimichagua</option>
                    <option value="206">Chinácota</option>
                    <option value="207">Chinavita</option>
                    <option value="208">Chinchina</option>
                    <option value="209">Chinú</option>
                    <option value="210">Chipaque</option>
                    <option value="211">Chipatá</option>
                    <option value="212">Chiquinquirá</option>
                    <option value="213">Chíquiza</option>
                    <option value="214">Chiriguana</option>
                    <option value="215">Chiscas</option>
                    <option value="216">Chita</option>
                    <option value="217">Chitagá</option>
                    <option value="218">Chitaraque</option>
                    <option value="219">Chivatá</option>
                    <option value="220">Chivor</option>
                    <option value="221">Choachí</option>
                    <option value="222">Chocontá</option>
                    <option value="223">Cicuco</option>
                    <option value="224">Ciénaga</option>
                    <option value="225">Ciénaga De Oro</option>
                    <option value="226">Ciénega</option>
                    <option value="227">Cimitarra</option>
                    <option value="228">Circasia</option>
                    <option value="229">Cisneros</option>
                    <option value="230">Ciudad Bolívar</option>
                    <option value="231">Clemencia</option>
                    <option value="232">Cocorná</option>
                    <option value="233">Coello</option>
                    <option value="234">Cogua</option>
                    <option value="235">Colombia</option>
                    <option value="236">Colon</option>
                    <option value="237">Colón</option>
                    <option value="238">Coloso</option>
                    <option value="239">Cómbita</option>
                    <option value="240">Concepción</option>
                    <option value="241">Concepción</option>
                    <option value="242">Concordia</option>
                    <option value="243">Concordia</option>
                    <option value="244">Condoto</option>
                    <option value="245">Confines</option>
                    <option value="246">Consaca</option>
                    <option value="247">Contadero</option>
                    <option value="248">Contratación</option>
                    <option value="249">Convención</option>
                    <option value="250">Copacabana</option>
                    <option value="251">Coper</option>
                    <option value="252">Cordoba</option>
                    <option value="253">Córdoba</option>
                    <option value="254">Córdoba</option>
                    <option value="255">Corinto</option>
                    <option value="256">Coromoro</option>
                    <option value="257">Corozal</option>
                    <option value="258">Corrales</option>
                    <option value="259">Cota</option>
                    <option value="260">Cotorra</option>
                    <option value="261">Covarachía</option>
                    <option value="262">Coveñas</option>
                    <option value="263">Coyaima</option>
                    <option value="264">Cravo Norte</option>
                    <option value="265">Cuaspud</option>
                    <option value="266">Cubará</option>
                    <option value="267">Cucaita</option>
                    <option value="268">Cucunubá</option>
                    <option value="269">Cúcuta</option>
                    <option value="270">Cucutilla</option>
                    <option value="271">Cuítiva</option>
                    <option value="272">Cumaral</option>
                    <option value="273">Cumaribo</option>
                    <option value="274">Cumbal</option>
                    <option value="275">Cumbitara</option>
                    <option value="276">Cunday</option>
                    <option value="277">Curití</option>
                    <option value="278">Currillo</option>
                    <option value="279">Curumaní</option>
                    <option value="280">Dabeiba</option>
                    <option value="281">Dagua</option>
                    <option value="282">Dibulla</option>
                    <option value="283">Distraccion</option>
                    <option value="284">Dolores</option>
                    <option value="285">Don Matias</option>
                    <option value="286">Dosquebradas</option>
                    <option value="287">Duitama</option>
                    <option value="288">Durania</option>
                    <option value="289">Ebéjico</option>
                    <option value="290">El Águila</option>
                    <option value="291">El Bagre</option>
                    <option value="292">El Banco</option>
                    <option value="293">El Cairo</option>
                    <option value="294">El Calvario</option>
                    <option value="295">El Carmen</option>
                    <option value="296">El Carmen De Atrato</option>
                    <option value="297">El Carmen De Chucurí</option>
                    <option value="298">El Castillo</option>
                    <option value="299">El Cerrito</option>
                    <option value="300">El Charco</option>
                    <option value="301">El Cocuy</option>
                    <option value="302">El Colegio</option>
                    <option value="303">El Copey</option>
                    <option value="304">El Doncello</option>
                    <option value="305">El Dorado</option>
                    <option value="306">El Dovio</option>
                    <option value="307">El Encanto</option>
                    <option value="308">El Espino</option>
                    <option value="309">El Guacamayo</option>
                    <option value="310">El Guamo</option>
                    <option value="311">El Litoral Del San Juan</option>
                    <option value="312">El Molino</option>
                    <option value="313">El Paso</option>
                    <option value="314">El Paujil</option>
                    <option value="315">El Peñol</option>
                    <option value="316">El Peñon</option>
                    <option value="317">El Peñón</option>
                    <option value="318">El Peñón</option>
                    <option value="319">El Piñon</option>
                    <option value="320">El Playón</option>
                    <option value="321">El Reten</option>
                    <option value="322">El Retorno</option>
                    <option value="323">El Roble</option>
                    <option value="324">El Rosal</option>
                    <option value="325">El Rosario</option>
                    <option value="326">El Tablon De Gomez</option>
                    <option value="327">El Tambo</option>
                    <option value="328">El Tambo</option>
                    <option value="329">El Tarra</option>
                    <option value="330">El Zulia</option>
                    <option value="331">Elías</option>
                    <option value="332">Encino</option>
                    <option value="333">Enciso</option>
                    <option value="334">Entrerrios</option>
                    <option value="335">Envigado</option>
                    <option value="336">Espinal</option>
                    <option value="337">Facatativá</option>
                    <option value="338">Falan</option>
                    <option value="339">Filadelfia</option>
                    <option value="340">Filandia</option>
                    <option value="341">Firavitoba</option>
                    <option value="342">Flandes</option>
                    <option value="343">Florencia</option>
                    <option value="344">Florencia</option>
                    <option value="345">Floresta</option>
                    <option value="346">Florián</option>
                    <option value="347">Florida</option>
                    <option value="348">Floridablanca</option>
                    <option value="349">Fomeque</option>
                    <option value="350">Fonseca</option>
                    <option value="351">Fortul</option>
                    <option value="352">Fosca</option>
                    <option value="353">Francisco Pizarro</option>
                    <option value="354">Fredonia</option>
                    <option value="355">Fresno</option>
                    <option value="356">Frontino</option>
                    <option value="357">Fuente De Oro</option>
                    <option value="358">Fundacion</option>
                    <option value="359">Funes</option>
                    <option value="360">Funza</option>
                    <option value="361">Fúquene</option>
                    <option value="362">Fusagasugá</option>
                    <option value="363">Gachala</option>
                    <option value="364">Gachancipá</option>
                    <option value="365">Gachantivá</option>
                    <option value="366">Gacheta</option>
                    <option value="367">Galán</option>
                    <option value="368">Galapa</option>
                    <option value="369">Galeras</option>
                    <option value="370">Gama</option>
                    <option value="371">Gamarra</option>
                    <option value="372">Gambita</option>
                    <option value="373">Gameza</option>
                    <option value="374">Garagoa</option>
                    <option value="375">Garzón</option>
                    <option value="376">Genova</option>
                    <option value="377">Gigante</option>
                    <option value="378">Ginebra</option>
                    <option value="379">Giraldo</option>
                    <option value="380">Girardot</option>
                    <option value="381">Girardota</option>
                    <option value="382">Girón</option>
                    <option value="383">Gómez Plata</option>
                    <option value="384">González</option>
                    <option value="385">Gramalote</option>
                    <option value="386">Granada</option>
                    <option value="387">Granada</option>
                    <option value="388">Granada</option>
                    <option value="389">Guaca</option>
                    <option value="390">Guacamayas</option>
                    <option value="391">Guacarí</option>
                    <option value="392">Guachetá</option>
                    <option value="393">Guachucal</option>
                    <option value="394">Guadalupe</option>
                    <option value="395">Guadalupe</option>
                    <option value="396">Guadalupe</option>
                    <option value="397">Guaduas</option>
                    <option value="398">Guaitarilla</option>
                    <option value="399">Gualmatan</option>
                    <option value="400">Guamal</option>
                    <option value="401">Guamal</option>
                    <option value="402">Guamo</option>
                    <option value="403">Guapi</option>
                    <option value="404">Guapotá</option>
                    <option value="405">Guaranda</option>
                    <option value="406">Guarne</option>
                    <option value="407">Guasca</option>
                    <option value="408">Guatape</option>
                    <option value="409">Guataquí</option>
                    <option value="410">Guatavita</option>
                    <option value="411">Guateque</option>
                    <option value="412">Guática</option>
                    <option value="413">Guavatá</option>
                    <option value="414">Guayabal De Siquima</option>
                    <option value="415">Guayabetal</option>
                    <option value="416">Guayatá</option>
                    <option value="417">Guepsa</option>
                    <option value="418">Güicán</option>
                    <option value="419">Gutiérrez</option>
                    <option value="420">Hacarí</option>
                    <option value="421">Hatillo De Loba</option>
                    <option value="422">Hato</option>
                    <option value="423">Hato Corozal</option>
                    <option value="424">Hatonuevo</option>
                    <option value="425">Heliconia</option>
                    <option value="426">Herrán</option>
                    <option value="427">Herveo</option>
                    <option value="428">Hispania</option>
                    <option value="429">Hobo</option>
                    <option value="430">Honda</option>
                    <option value="431">Ibague</option>
                    <option value="432">Icononzo</option>
                    <option value="433">Iles</option>
                    <option value="434">Imues</option>
                    <option value="435">Inírida</option>
                    <option value="436">Inzá</option>
                    <option value="437">Ipiales</option>
                    <option value="438">Iquira</option>
                    <option value="439">Isnos</option>
                    <option value="440">Itagui</option>
                    <option value="441">Itsmina</option>
                    <option value="442">Ituango</option>
                    <option value="443">Iza</option>
                    <option value="444">Jambalo</option>
                    <option value="445">Jamundí</option>
                    <option value="446">Jardín</option>
                    <option value="447">Jenesano</option>
                    <option value="448">Jericó</option>
                    <option value="449">Jericó</option>
                    <option value="450">Jerusalén</option>
                    <option value="451">Jesús María</option>
                    <option value="452">Jordán</option>
                    <option value="453">Juan De Acosta</option>
                    <option value="454">Junín</option>
                    <option value="455">Juradó</option>
                    <option value="456">La Apartada</option>
                    <option value="457">La Argentina</option>
                    <option value="458">La Belleza</option>
                    <option value="459">La Calera</option>
                    <option value="460">La Capilla</option>
                    <option value="461">La Ceja</option>
                    <option value="462">La Celia</option>
                    <option value="463">La Chorrera</option>
                    <option value="464">La Cruz</option>
                    <option value="465">La Cumbre</option>
                    <option value="466">La Dorada</option>
                    <option value="467">La Esperanza</option>
                    <option value="468">La Estrella</option>
                    <option value="469">La Florida</option>
                    <option value="470">La Gloria</option>
                    <option value="471">La Guadalupe</option>
                    <option value="472">La Jagua De Ibirico</option>
                    <option value="473">La Jagua Del Pilar</option>
                    <option value="474">La Llanada</option>
                    <option value="475">La Macarena</option>
                    <option value="476">La Merced</option>
                    <option value="477">La Mesa</option>
                    <option value="478">La Montañita</option>
                    <option value="479">La Palma</option>
                    <option value="480">La Paz</option>
                    <option value="481">La Paz</option>
                    <option value="482">La Pedrera</option>
                    <option value="483">La Peña</option>
                    <option value="484">La Pintada</option>
                    <option value="485">La Plata</option>
                    <option value="486">La Playa</option>
                    <option value="487">La Primavera</option>
                    <option value="488">La Salina</option>
                    <option value="489">La Sierra</option>
                    <option value="490">La Tebaida</option>
                    <option value="491">La Tola</option>
                    <option value="492">La Union</option>
                    <option value="493">La Unión</option>
                    <option value="494">La Unión</option>
                    <option value="495">La Unión</option>
                    <option value="496">La Uribe</option>
                    <option value="497">La Uvita</option>
                    <option value="498">La Vega</option>
                    <option value="499">La Vega</option>
                    <option value="500">La Victoria</option>
                    <option value="501">La Victoria</option>
                    <option value="502">La Victoria</option>
                    <option value="503">La Virginia</option>
                    <option value="504">Labateca</option>
                    <option value="505">Labranzagrande</option>
                    <option value="506">Landázuri</option>
                    <option value="507">Lebríja</option>
                    <option value="508">Leiva</option>
                    <option value="509">Lejanías</option>
                    <option value="510">Lenguazaque</option>
                    <option value="511">Lerida</option>
                    <option value="512">Leticia</option>
                    <option value="513">Libano</option>
                    <option value="514">Liborina</option>
                    <option value="515">Linares</option>
                    <option value="516">Lloró</option>
                    <option value="517">Lopez</option>
                    <option value="518">Lorica</option>
                    <option value="519">Los Andes</option>
                    <option value="520">Los Córdobas</option>
                    <option value="521">Los Palmitos</option>
                    <option value="522">Los Patios</option>
                    <option value="523">Los Santos</option>
                    <option value="524">Lourdes</option>
                    <option value="525">Luruaco</option>
                    <option value="526">Macanal</option>
                    <option value="527">Macaravita</option>
                    <option value="528">Maceo</option>
                    <option value="529">Macheta</option>
                    <option value="530">Madrid</option>
                    <option value="531">Magangué</option>
                    <option value="532">Magui</option>
                    <option value="533">Mahates</option>
                    <option value="534">Maicao</option>
                    <option value="535">Majagual</option>
                    <option value="536">Málaga</option>
                    <option value="537">Malambo</option>
                    <option value="538">Mallama</option>
                    <option value="539">Manati</option>
                    <option value="540">Manaure</option>
                    <option value="541">Manaure</option>
                    <option value="542">Maní</option>
                    <option value="543">Manizales</option>
                    <option value="544">Manta</option>
                    <option value="545">Manzanares</option>
                    <option value="546">Mapiripan</option>
                    <option value="547">Mapiripan</option>
                    <option value="548">Margarita</option>
                    <option value="549">María La Baja</option>
                    <option value="550">Marinilla</option>
                    <option value="551">Maripí</option>
                    <option value="552">Mariquita</option>
                    <option value="553">Marmato</option>
                    <option value="554">Marquetalia</option>
                    <option value="555">Marsella</option>
                    <option value="556">Marulanda</option>
                    <option value="557">Matanza</option>
                    <option value="558">Medellín</option>
                    <option value="559">Medina</option>
                    <option value="560">Medio Atrato</option>
                    <option value="561">Medio Baudó</option>
                    <option value="562">Medio San Juan</option>
                    <option value="563">Melgar</option>
                    <option value="564">Mercaderes</option>
                    <option value="565">Mesetas</option>
                    <option value="566">Milan</option>
                    <option value="567">Miraflores</option>
                    <option value="568">Miraflores</option>
                    <option value="569">Miranda</option>
                    <option value="570">Miriti - Paraná</option>
                    <option value="571">Mistrató</option>
                    <option value="572">Mitú</option>
                    <option value="573">Mocoa</option>
                    <option value="574">Mogotes</option>
                    <option value="575">Molagavita</option>
                    <option value="576">Momil</option>
                    <option value="577">Mompós</option>
                    <option value="578">Mongua</option>
                    <option value="579">Monguí</option>
                    <option value="580">Moniquirá</option>
                    <option value="581">Montebello</option>
                    <option value="582">Montecristo</option>
                    <option value="583">Montelíbano</option>
                    <option value="584">Montengro</option>
                    <option value="585">Montería</option>
                    <option value="586">Monterrey</option>
                    <option value="587">Moñitos</option>
                    <option value="588">Morales</option>
                    <option value="589">Morales</option>
                    <option value="590">Morelia</option>
                    <option value="591">Morichal</option>
                    <option value="592">Morroa</option>
                    <option value="593">Mosquera</option>
                    <option value="594">Mosquera</option>
                    <option value="595">Motavita</option>
                    <option value="596">Murillo</option>
                    <option value="597">Murindó</option>
                    <option value="598">Mutata</option>
                    <option value="599">Mutiscua</option>
                    <option value="600">Muzo</option>
                    <option value="601">Nariño</option>
                    <option value="602">Nariño</option>
                    <option value="603">Nariño</option>
                    <option value="604">Nátaga</option>
                    <option value="605">Natagaima</option>
                    <option value="606">Nechí</option>
                    <option value="607">Necoclí</option>
                    <option value="608">Neira</option>
                    <option value="609">Neiva</option>
                    <option value="610">Nemocon</option>
                    <option value="611">Nilo</option>
                    <option value="612">Nimaima</option>
                    <option value="613">Nobsa</option>
                    <option value="614">Nocaima</option>
                    <option value="615">Norcasia</option>
                    <option value="616">Nóvita</option>
                    <option value="617">Nueva Granada</option>
                    <option value="618">Nuevo Colón</option>
                    <option value="619">Nunchía</option>
                    <option value="620">Nuquí</option>
                    <option value="621">Obando</option>
                    <option value="622">Ocamonte</option>
                    <option value="623">Ocaña</option>
                    <option value="624">Oiba</option>
                    <option value="625">Oicatá</option>
                    <option value="626">Olaya</option>
                    <option value="627">Olaya Herrera</option>
                    <option value="628">Onzaga</option>
                    <option value="629">Oporapa</option>
                    <option value="630">Orito</option>
                    <option value="631">Orocué</option>
                    <option value="632">Ortega</option>
                    <option value="633">Ospina</option>
                    <option value="634">Otanche</option>
                    <option value="635">Ovejas</option>
                    <option value="636">Pachavita</option>
                    <option value="637">Pacho</option>
                    <option value="638">Pacoa</option>
                    <option value="639">Pácora</option>
                    <option value="640">Padilla</option>
                    <option value="641">Paez</option>
                    <option value="642">Páez</option>
                    <option value="643">Paicol</option>
                    <option value="644">Pailitas</option>
                    <option value="645">Paime</option>
                    <option value="646">Paipa</option>
                    <option value="647">Pajarito</option>
                    <option value="648">Palermo</option>
                    <option value="649">Palestina</option>
                    <option value="650">Palestina</option>
                    <option value="651">Palmar</option>
                    <option value="652">Palmar De Varela</option>
                    <option value="653">Palmas Del Socorro</option>
                    <option value="654">Palmira</option>
                    <option value="655">Palmito</option>
                    <option value="656">Palocabildo</option>
                    <option value="657">Pamplona</option>
                    <option value="658">Pamplonita</option>
                    <option value="659">Pana Pana</option>
                    <option value="660">Pandi</option>
                    <option value="661">Panqueba</option>
                    <option value="662">Papunahua</option>
                    <option value="663">Páramo</option>
                    <option value="664">Paratebueno</option>
                    <option value="665">Pasca</option>
                    <option value="666">Pasto</option>
                    <option value="667">Patia</option>
                    <option value="668">Pauna</option>
                    <option value="669">Paya</option>
                    <option value="670">Paz De Ariporo</option>
                    <option value="671">Paz De Río</option>
                    <option value="672">Pedraza</option>
                    <option value="673">Pelaya</option>
                    <option value="674">Pensilvania</option>
                    <option value="675">Peñol</option>
                    <option value="676">Peque</option>
                    <option value="677">Pereira</option>
                    <option value="678">Pesca</option>
                    <option value="679">Piamonte</option>
                    <option value="680">Piedecuesta</option>
                    <option value="681">Piedras</option>
                    <option value="682">Piendamo</option>
                    <option value="683">Pijao</option>
                    <option value="684">Pijiño Del Carmen</option>
                    <option value="685">Pinchote</option>
                    <option value="686">Pinillos</option>
                    <option value="687">Piojó</option>
                    <option value="688">Pisba</option>
                    <option value="689">Pital</option>
                    <option value="690">Pitalito</option>
                    <option value="691">Pivijay</option>
                    <option value="692">Planadas</option>
                    <option value="693">Planeta Rica</option>
                    <option value="694">Plato</option>
                    <option value="695">Policarpa</option>
                    <option value="696">Polonuevo</option>
                    <option value="697">Ponedera</option>
                    <option value="698">Popayán</option>
                    <option value="699">Pore</option>
                    <option value="700">Potosí</option>
                    <option value="701">Pradera</option>
                    <option value="702">Prado</option>
                    <option value="703">Providencia</option>
                    <option value="704">Providencia Y Santa Catalina</option>
                    <option value="705">Pueblo Bello</option>
                    <option value="706">Pueblo Nuevo</option>
                    <option value="707">Pueblo Rico</option>
                    <option value="708">Pueblo Viejo</option>
                    <option value="709">Pueblorrico</option>
                    <option value="710">Puente Nacional</option>
                    <option value="711">Puerres</option>
                    <option value="712">Puerto Alegria</option>
                    <option value="713">Puerto Arica</option>
                    <option value="714">Puerto Asis</option>
                    <option value="715">Puerto Berrio</option>
                    <option value="716">Puerto Boyaca</option>
                    <option value="717">Puerto Caicedo</option>
                    <option value="718">Puerto Carreño</option>
                    <option value="719">Puerto Colombia</option>
                    <option value="720">Puerto Colombia</option>
                    <option value="721">Puerto Concordia</option>
                    <option value="722">Puerto Escondido</option>
                    <option value="723">Puerto Gaitán</option>
                    <option value="724">Puerto Guzman</option>
                    <option value="725">Puerto Leguizamo</option>
                    <option value="726">Puerto Libertador</option>
                    <option value="727">Puerto Lleras</option>
                    <option value="728">Puerto Lopez</option>
                    <option value="729">Puerto Nare</option>
                    <option value="730">Puerto Nariño</option>
                    <option value="731">Puerto Parra</option>
                    <option value="732">Puerto Rico</option>
                    <option value="733">Puerto Rico</option>
                    <option value="734">Puerto Rondón</option>
                    <option value="735">Puerto Salgar</option>
                    <option value="736">Puerto Santander</option>
                    <option value="737">Puerto Santander</option>
                    <option value="738">Puerto Tejada</option>
                    <option value="739">Puerto Triunfo</option>
                    <option value="740">Puerto Wilches</option>
                    <option value="741">Puli</option>
                    <option value="742">Pupiales</option>
                    <option value="743">Purace</option>
                    <option value="744">Purificación</option>
                    <option value="745">Purísima</option>
                    <option value="746">Quebradanegra</option>
                    <option value="747">Quetame</option>
                    <option value="748">Quibdó</option>
                    <option value="749">Quimbaya</option>
                    <option value="750">Quinchia</option>
                    <option value="751">Quípama</option>
                    <option value="752">Quipile</option>
                    <option value="753">Ragonvalia</option>
                    <option value="754">Ramiriquí</option>
                    <option value="755">Ráquira</option>
                    <option value="756">Recetor</option>
                    <option value="757">Regidor</option>
                    <option value="758">Remedios</option>
                    <option value="759">Remolino</option>
                    <option value="760">Repelon</option>
                    <option value="761">Restrepo</option>
                    <option value="762">Restrepo</option>
                    <option value="763">Retiro</option>
                    <option value="764">Ricaurte</option>
                    <option value="765">Ricaurte</option>
                    <option value="766">Río De Oro</option>
                    <option value="767">Río Frío</option>
                    <option value="768">Rio Quito</option>
                    <option value="769">Río Viejo</option>
                    <option value="770">Rioblanco</option>
                    <option value="771">Riofrio</option>
                    <option value="772">Riohacha</option>
                    <option value="773">Rionegro</option>
                    <option value="774">Rionegro</option>
                    <option value="775">Riosucio</option>
                    <option value="776">Riosucio</option>
                    <option value="777">Risaralda</option>
                    <option value="778">Rivera</option>
                    <option value="779">Roberto Payan</option>
                    <option value="780">Roldanillo</option>
                    <option value="781">Roncesvalles</option>
                    <option value="782">Rondón</option>
                    <option value="783">Rosas</option>
                    <option value="784">Rovira</option>
                    <option value="785">Sabana De Torres</option>
                    <option value="786">Sabanagrande</option>
                    <option value="787">Sabanalarga</option>
                    <option value="788">Sabanalarga</option>
                    <option value="789">Sabanalarga</option>
                    <option value="790">Sabanas De San Angel</option>
                    <option value="791">Sabaneta</option>
                    <option value="792">Saboyá</option>
                    <option value="793">Sácama</option>
                    <option value="794">Sáchica</option>
                    <option value="795">Sahagún</option>
                    <option value="796">Saladoblanco</option>
                    <option value="797">Salamina</option>
                    <option value="798">Salamina</option>
                    <option value="799">Salazar</option>
                    <option value="800">Saldaña</option>
                    <option value="801">Salento</option>
                    <option value="802">Salgar</option>
                    <option value="803">Samacá</option>
                    <option value="804">Samaná</option>
                    <option value="805">Samaniego</option>
                    <option value="806">Sampués</option>
                    <option value="807">San Agustín</option>
                    <option value="808">San Alberto</option>
                    <option value="809">San Andres</option>
                    <option value="810">San Andrés</option>
                    <option value="811">San Andrés</option>
                    <option value="812">San Andrés Sotavento</option>
                    <option value="813">San Antero</option>
                    <option value="814">San Antonio</option>
                    <option value="815">San Antonio De Tequendama</option>
                    <option value="816">San Benito</option>
                    <option value="817">San Benito Abad</option>
                    <option value="818">San Bernardo</option>
                    <option value="819">San Bernardo</option>
                    <option value="820">San Bernardo Del Viento</option>
                    <option value="821">San Calixto</option>
                    <option value="822">San Carlos</option>
                    <option value="823">San Carlos</option>
                    <option value="824">San Carlos Guaroa</option>
                    <option value="825">San Cayetano</option>
                    <option value="826">San Cayetano</option>
                    <option value="827">San Cristobal</option>
                    <option value="828">San Diego</option>
                    <option value="829">San Eduardo</option>
                    <option value="830">San Estanislao</option>
                    <option value="831">San Felipe</option>
                    <option value="832">San Fernando</option>
                    <option value="833">San Francisco</option>
                    <option value="834">San Francisco</option>
                    <option value="835">San Francisco</option>
                    <option value="836">San Gil</option>
                    <option value="837">San Jacinto</option>
                    <option value="838">San Jacinto Del Cauca</option>
                    <option value="839">San Jerónimo</option>
                    <option value="840">San Joaquín</option>
                    <option value="841">San José</option>
                    <option value="842">San José De La Montaña</option>
                    <option value="843">San José De Miranda</option>
                    <option value="844">San José De Pare</option>
                    <option value="845">San Jose Del Fragua</option>
                    <option value="846">San José Del Guaviare</option>
                    <option value="847">San José Del Palmar</option>
                    <option value="848">San Juan Betulia</option>
                    <option value="849">San Juan De Arama</option>
                    <option value="850">San Juan De Río Seco</option>
                    <option value="851">San Juan De Uraba</option>
                    <option value="852">San Juan Del Cesar</option>
                    <option value="853">San Juan Nepomuceno</option>
                    <option value="854">San Juanito</option>
                    <option value="855">San Lorenzo</option>
                    <option value="856">San Luis</option>
                    <option value="857">San Luis</option>
                    <option value="858">San Luis De Cubarral</option>
                    <option value="859">San Luis De Gaceno</option>
                    <option value="860">San Luis De Palenque</option>
                    <option value="861">San Marcos</option>
                    <option value="862">San Martín</option>
                    <option value="863">San Martín</option>
                    <option value="864">San Martin De Loba</option>
                    <option value="865">San Mateo</option>
                    <option value="866">San Miguel</option>
                    <option value="867">San Miguel</option>
                    <option value="868">San Miguel De Sema</option>
                    <option value="869">San Onofre</option>
                    <option value="870">San Pablo</option>
                    <option value="871">San Pablo</option>
                    <option value="872">San Pablo Borbur</option>
                    <option value="873">San Pedro</option>
                    <option value="874">San Pedro</option>
                    <option value="875">San Pedro</option>
                    <option value="876">San Pedro De Cartago</option>
                    <option value="877">San Pedro De Uraba</option>
                    <option value="878">San Pelayo</option>
                    <option value="879">San Rafael</option>
                    <option value="880">San Roque</option>
                    <option value="881">San Rosa Viterbo</option>
                    <option value="882">San Sebastian</option>
                    <option value="883">San Sebastian De Buenavista</option>
                    <option value="884">San Vicente</option>
                    <option value="885">San Vicente De Chucurí</option>
                    <option value="886">San Vicente Del Caguán</option>
                    <option value="887">San Zenon</option>
                    <option value="888">Sandoná</option>
                    <option value="889">Santa Ana</option>
                    <option value="890">Santa Barbara</option>
                    <option value="891">Santa Barbara</option>
                    <option value="892">Santa Bárbara</option>
                    <option value="893">Santa Barbara De Pinto</option>
                    <option value="894">Santa Catalina</option>
                    <option value="895">Santa Cruz</option>
                    <option value="896">Santa Helena Del Opón</option>
                    <option value="897">Santa Isabel</option>
                    <option value="898">Santa Lucia</option>
                    <option value="899">Santa María</option>
                    <option value="900">Santa María</option>
                    <option value="901">Santa Marta</option>
                    <option value="902">Santa Rosa</option>
                    <option value="903">Santa Rosa De Cabal</option>
                    <option value="904">Santa Rosa De Lima</option>
                    <option value="905">Santa Rosa De Osos</option>
                    <option value="906">Santa Rosa Del Sur</option>
                    <option value="907">Santa Rosalía</option>
                    <option value="908">Santa Sofía</option>
                    <option value="909">Santafé De Antioquia</option>
                    <option value="910">Santana</option>
                    <option value="911">Santander De Quilichao</option>
                    <option value="912">Santiago</option>
                    <option value="913">Santiago</option>
                    <option value="914">Santiago De Tolú</option>
                    <option value="915">Santo Domingo</option>
                    <option value="916">Santo Tomas</option>
                    <option value="917">Santuario</option>
                    <option value="918">Santuario</option>
                    <option value="919">Sapuyes</option>
                    <option value="920">Saravena</option>
                    <option value="921">Sardinata</option>
                    <option value="922">Sasaima</option>
                    <option value="923">Sativanorte</option>
                    <option value="924">Sativasur</option>
                    <option value="925">Segovia</option>
                    <option value="926">Sesquilé</option>
                    <option value="927">Sevilla</option>
                    <option value="928">Siachoque</option>
                    <option value="929">Sibaté</option>
                    <option value="930">Sibundoy</option>
                    <option value="931">Silos</option>
                    <option value="932">Silvania</option>
                    <option value="933">Silvia</option>
                    <option value="934">Simacota</option>
                    <option value="935">Simijaca</option>
                    <option value="936">Simití</option>
                    <option value="937">Sincé</option>
                    <option value="938">Sincelejo</option>
                    <option value="939">Sipí</option>
                    <option value="940">Sitionuevo</option>
                    <option value="941">Soacha</option>
                    <option value="942">Soatá</option>
                    <option value="943">Socha</option>
                    <option value="944">Socorro</option>
                    <option value="945">Socotá</option>
                    <option value="946">Sogamoso</option>
                    <option value="947">Solano</option>
                    <option value="948">Soledad</option>
                    <option value="949">Solita</option>
                    <option value="950">Somondoco</option>
                    <option value="951">Sonson</option>
                    <option value="952">Sopetran</option>
                    <option value="953">Soplaviento</option>
                    <option value="954">Sopó</option>
                    <option value="955">Sora</option>
                    <option value="956">Soracá</option>
                    <option value="957">Sotaquirá</option>
                    <option value="958">Sotara</option>
                    <option value="959">Suaita</option>
                    <option value="960">Suan</option>
                    <option value="961">Suarez</option>
                    <option value="962">Suárez</option>
                    <option value="963">Suaza</option>
                    <option value="964">Subachoque</option>
                    <option value="965">Sucre</option>
                    <option value="966">Sucre</option>
                    <option value="967">Sucre</option>
                    <option value="968">Suesca</option>
                    <option value="969">Supatá</option>
                    <option value="970">Supía</option>
                    <option value="971">Surata</option>
                    <option value="972">Susa</option>
                    <option value="973">Susacón</option>
                    <option value="974">Sutamarchán</option>
                    <option value="975">Sutatausa</option>
                    <option value="976">Sutatenza</option>
                    <option value="977">Tabio</option>
                    <option value="978">Tadó</option>
                    <option value="979">Talaigua Nuevo</option>
                    <option value="980">Tamalameque</option>
                    <option value="981">Támara</option>
                    <option value="982">Tame</option>
                    <option value="983">Támesis</option>
                    <option value="984">Taminango</option>
                    <option value="985">Tangua</option>
                    <option value="986">Taraira</option>
                    <option value="987">Tarapacá</option>
                    <option value="988">Tarazá</option>
                    <option value="989">Tarqui</option>
                    <option value="990">Tarso</option>
                    <option value="991">Tasco</option>
                    <option value="992">Tauramena</option>
                    <option value="993">Tausa</option>
                    <option value="994">Tello</option>
                    <option value="995">Tena</option>
                    <option value="996">Tenerife</option>
                    <option value="997">Tenjo</option>
                    <option value="998">Tenza</option>
                    <option value="999">Teorama</option>
                    <option value="1000">Teruel</option>
                    <option value="1001">Tesalia</option>
                    <option value="1002">Tibacuy</option>
                    <option value="1003">Tibaná</option>
                    <option value="1004">Tibasosa</option>
                    <option value="1005">Tibirita</option>
                    <option value="1006">Tibú</option>
                    <option value="1007">Tierralta</option>
                    <option value="1008">Timaná</option>
                    <option value="1009">Timbio</option>
                    <option value="1010">Timbiqui</option>
                    <option value="1011">Tinjacá</option>
                    <option value="1012">Tipacoque</option>
                    <option value="1013">Tiquisio</option>
                    <option value="1014">Titiribí</option>
                    <option value="1015">Toca</option>
                    <option value="1016">Tocaima</option>
                    <option value="1017">Tocancipá</option>
                    <option value="1018">Togüí</option>
                    <option value="1019">Toledo</option>
                    <option value="1020">Toledo</option>
                    <option value="1021">Tolú Viejo</option>
                    <option value="1022">Tona</option>
                    <option value="1023">Tópaga</option>
                    <option value="1024">Topaipi</option>
                    <option value="1025">Toribio</option>
                    <option value="1026">Toro</option>
                    <option value="1027">Tota</option>
                    <option value="1028">Totoro</option>
                    <option value="1029">Trinidad</option>
                    <option value="1030">Trujillo</option>
                    <option value="1031">Tubara</option>
                    <option value="1032">Tuluá</option>
                    <option value="1033">Tumaco</option>
                    <option value="1034">Tunja</option>
                    <option value="1035">Tununguá</option>
                    <option value="1036">Tuquerres</option>
                    <option value="1037">Turbaco</option>
                    <option value="1038">Turbana</option>
                    <option value="1039">Turbo</option>
                    <option value="1040">Turmequé</option>
                    <option value="1041">Tuta</option>
                    <option value="1042">Tutazá</option>
                    <option value="1043">Ubalá</option>
                    <option value="1044">Ubaque</option>
                    <option value="1045">Ubate</option>
                    <option value="1046">Ulloa</option>
                    <option value="1047">Umbita</option>
                    <option value="1048">Une</option>
                    <option value="1049">Unguía</option>
                    <option value="1050">Union Panamericana</option>
                    <option value="1051">Uramita</option>
                    <option value="1052">Uribia</option>
                    <option value="1053">Urrao</option>
                    <option value="1054">Urumita</option>
                    <option value="1055">Usiacuri</option>
                    <option value="1056">Útica</option>
                    <option value="1057">Valdivia</option>
                    <option value="1058">Valencia</option>
                    <option value="1059">Valle De San José</option>
                    <option value="1060">Valle De San Juan</option>
                    <option value="1061">Valle Del Guamuez</option>
                    <option value="1062">Valledupar</option>
                    <option value="1063">Valparaiso</option>
                    <option value="1064">Valparaiso</option>
                    <option value="1065">Vegachí</option>
                    <option value="1066">Vélez</option>
                    <option value="1067">Venadillo</option>
                    <option value="1068">Venecia</option>
                    <option value="1069">Venecia</option>
                    <option value="1070">Ventaquemada</option>
                    <option value="1071">Vergara</option>
                    <option value="1072">Versalles</option>
                    <option value="1073">Vetas</option>
                    <option value="1074">Vianí</option>
                    <option value="1075">Victoria</option>
                    <option value="1076">Vigía Del Fuerte</option>
                    <option value="1077">Vijes</option>
                    <option value="1078">Villa Caro</option>
                    <option value="1079">Villa De Leyva</option>
                    <option value="1080">Villa Del Rosario</option>
                    <option value="1081">Villa Garzon</option>
                    <option value="1082">Villa Rica</option>
                    <option value="1083">Villagomez</option>
                    <option value="1084">Villahermosa</option>
                    <option value="1085">Villamaria</option>
                    <option value="1086">Villanueva</option>
                    <option value="1087">Villanueva</option>
                    <option value="1088">Villanueva</option>
                    <option value="1089">Villanueva</option>
                    <option value="1090">Villapinzón</option>
                    <option value="1091">Villarrica</option>
                    <option value="1092">Villavicencio</option>
                    <option value="1093">Villavieja</option>
                    <option value="1094">Villeta</option>
                    <option value="1095">Viotá</option>
                    <option value="1096">Viracachá</option>
                    <option value="1097">Vista Hermosa</option>
                    <option value="1098">Viterbo</option>
                    <option value="1099">Yacopí</option>
                    <option value="1100">Yacuanquer</option>
                    <option value="1101">Yaguará</option>
                    <option value="1102">Yalí</option>
                    <option value="1103">Yarumal</option>
                    <option value="1104">Yavaraté</option>
                    <option value="1105">Yolombó</option>
                    <option value="1106">Yondó</option>
                    <option value="1107">Yopal</option>
                    <option value="1108">Yotoco</option>
                    <option value="1109">Yumbo</option>
                    <option value="1110">Zambrano</option>
                    <option value="1111">Zapatoca</option>
                    <option value="1112">Zapayan</option>
                    <option value="1113">Zaragoza</option>
                    <option value="1114">Zarzal</option>
                    <option value="1115">Zetaquira</option>
                    <option value="1116">Zipacon</option>
                    <option value="1117">Zipaquirá</option>
                    <option value="1118">Zona Bananera</option>
                    <option value="1119">Abejorral</option>
                </select>
                <span asp-validation-for="Input.IdCiudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
