@model IEnumerable<Senasoft.Models.TiposFacturasModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
</p>
<table class="table table-striped" id="userTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td class="float-right">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
